.popup {
position: fixed;
z-index: 1;
left: 25%;
top: 25%;
width: 500px;
height: 500px;
overflow: auto;
background-color: rgba(0,0,0,0.4);
}

.title {
position: absolute;
left: 91px;
top: 68px;
}

.subtitle {
position: absolute;
left: 91px;
top: 108px;
width: 475px;
}

.language {
position: absolute;
border: 2px solid #74545F;
color: #A57888;
border-radius: 12px;
left: 350px;
top: 190px;
}

.language::placeholder {
color: #A57888;
}

.pronunciation {
position: absolute;
left: 350px;
top: 230px;
}

.translation {
position: absolute;
left: 350px;
top: 270px;
}

.upload {
position: absolute;
border: 5px solid #74545F;
left: 142px;
top: 210px;
}

.submitButton {
background-color: #DF897C;
border: 5px solid #74545F;
position: absolute;
left: 110px;
top: 260px;
}